h3 {
    font-family: 'Calistoga', cursive;
    color: #192a56;
    text-align: center;
}

.file {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.submit {
    display: block;
    margin-left: 39%;
    margin-right: auto;
    margin-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}