.eyes{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.eye{
	width:400px;
	height:200px;
	background:red;
	top: 27px;
	left: 153px;
	border-width:3px;
	border-style:solid;²
	border-color:#27a537;
	border-radius: 50%;
	display: inline-block;
	margin-right: 75px;
	
	
}


.circle{
	  display: block;
	  background:#fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border: 2px dotted #333;;
	  border-radius: 50%;
	  height: 50px;
	  width: 50px;
	  margin: 10px;
	  position: relative;
	 

}

.ball{
	display: block;
	background: black;
	top: 18%;
	left: 52%;
	transform: translate(-50%,-50%);	
	border-radius: 50%;
	height: 10px;
	width: 10px;
	margin: 0px;
	position: relative;

}

.box{
	    
	    position: relative;
	    border-style : solid;
	    border-color : #ffcc00 #ffcc00 purple blue;
	    border-width : 0px 40px 20px 20px ; 
	    background   : #ffcc00;  
	    width  : 35px;
	    height : 200px;
	    margin: 0px;
	    top: 70%;
	    left:100%;
	}

	
.mouth{
	      position: relative;
	      top: 70%;
	      left:15%;
	      height: 150px;
	      width: 800px;
	      margin: 0 auto;
	      border-bottom: 20px solid #ffcc00 ;
	      border-radius: 50%;
	    	  
	    }