{% extends 'base.html.twig'%}

{% block body %}
<div class="jumbotron content mt-4">
    <h2>Serial UtopLab</h2>
    <br><br>
    <img src="{{ asset('img/florian.jpg')}}" alt="florian "class="image"><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut velit non sem condimentum viverra. Fusce semper ultricies neque, quis euismod dolor tempus non. Quisque leo mi, auctor ac convallis sit amet, vulputate in neque. Phasellus sodales neque in luctus vulputate. Etiam cursus molestie libero in tincidunt. Suspendisse eu ultrices eros. Phasellus tincidunt, dolor ultrices efficitur sodales, nisl ante semper mi, at imperdiet nisl eros a enim. Phasellus mauris ex, congue eget lacinia vel, molestie malesuada ex. Phasellus tempus sem tempus pharetra finibus. Nunc volutpat pulvinar risus ac interdum. Etiam vel auctor turpis. Etiam vitae vulputate purus, et eleifend lacus. Aliquam suscipit elit lacus, in tincidunt lacus commodo id. </p>
    <br><br>
    <h3>Le codage chez Utoplab</h3>
    <iframe class="image" width="560" height="315" src="https://www.youtube.com/embed/ZaRr2MLAMqg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="jumbotron content mt-4">
    <h2>Le voyage des MignOpotes</h2>
    <br><br>
   <img src="{{ asset('img/paysage.jpg')}} " alt="paysage avec bateau sur l'eau" class="image"><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut velit non sem condimentum viverra. Fusce semper ultricies neque, quis euismod dolor tempus non. Quisque leo mi, auctor ac convallis sit amet, vulputate in neque. Phasellus sodales neque in luctus vulputate. Etiam cursus molestie libero in tincidunt. Suspendisse eu ultrices eros. Phasellus tincidunt, dolor ultrices efficitur sodales, nisl ante semper mi, at imperdiet nisl eros a enim. Phasellus mauris ex, congue eget lacinia vel, molestie malesuada ex. Phasellus tempus sem tempus pharetra finibus. Nunc volutpat pulvinar risus ac interdum. Etiam vel auctor turpis. Etiam vitae vulputate purus, et eleifend lacus. Aliquam suscipit elit lacus, in tincidunt lacus commodo id. </p>
    <br><br>
</div>
{% endblock %}